#e-mail-Section{
   display: flex;
    min-height: calc(100vh - 91px);
    align-items: center;
    left: 15%;
    flex-direction: column;
    color: white;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;

}

.form {
  width: 100%;
  max-width: 32rem;
  font-size: 1.125rem;
}

.form label,
.form input,
.form textarea,
.form button {
  display: block;
  width: 100%;
}

.form label {
  color: #fff;
  line-height: 1;
  margin-bottom: 0.5rem;
}

.form input,
.form textarea {
  font: inherit;
  padding: 0.8rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: border-color, box-shadow 0.2s;
}

.form textarea {
  min-height: 13rem;
  resize: vertical;
}

.form input:hover,
.form input:focus,
.form textarea:hover,
.form textarea:focus {
  outline: none;
  border-color: rgb(252, 3, 3);
  box-shadow: 0 0 0 3px hsl(0, 100%, 66%);
}

.form button {
  display: block;
  padding: 1rem;
  background: #fd4d4d;
  color: #fff;
  font: inherit;
  text-transform: uppercase;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.form button:hover,
.form button:focus {
  outline: none;
  background: #ff0101;
}